body{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2cm;
  text-align: justify;
}

a.navbar-brand.logo {
    font-weight: 400;
    color: inherit;
}

.miy_nowbar {
    color: #000;
    margin-top: 20px;
}

.list-class li a {
    color: #626262;
    padding-left: 32px;
}

.img_hz {
    width: 100%;
}

.kolaps{
  margin:75px 60px 50px 60px;
  color: #626262
}

.kolaps_row_col{
  margin:0px 45px 0px 45px;
  color: #626262
}

.Zalman{
  color: #b4ad9e;
}

p.gorizont {
  padding-top:80px;
}

p.Zalman{
  padding-top:30px;
}

.foto{
  padding-top:80px;
}

.send_form{
  color: #000000;
  margin-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #b1b1b1;
}

.e-mail_input{
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: inherit;
  height: 25px;
  width: 400px;
  font-size: 16px;
  text-align: inherit;
}
::-webkit-input-placeholder {color:#000;}

.send_button{
  height: 25px;
  border: none;
  background-color: inherit;
}
